* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos formulario*/

form{
    background: #089c7c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3cff87, #089c7c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3cff87, #089c7c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    width: 100%;                       /*Cuerpo del formulario*/
    height: 625px;
    padding: 100px 150px 60px 150px;
    margin: auto;
    box-shadow: 2px 2px 6px 2px rgba(255, 255, 255, 0.8);
    overflow: hidden;
} 

.enviado h2{
    text-align: center;
    padding: 132px 0px 50px 0px;
    cursor: pointer;
}

.enviado i{
    margin: 8px;
}

@media screen and (max-width:650px){
    form{
        height: 900px;
        padding: 100px 10px 50px 10px;
    } 
}
